.about-cell

  .about-avatar
    %img(src="/images/portraits/portrait-#{id}.jpg" alt="Portrait #{name}" class="avatar-image round-image") 

  %h3.about-name= name
  %h4.about-teaser= job

  %p.about-description= description
