---
title: Wirsing – Software für eine bessere Zukunft
---

%header
  %img(src="/images/wirsing-logo-vertical-white.svg" alt="Wirsing Logo" class="logo")
  %h1.headline Software für eine bessere Zukunft

%section.vision
  %h2
    Wir unterstützen Initiativen, die sich aktiv für eine bessere Zukunft einsetzen.
    %br
    Durch unsere Arbeit fördern wir sinnvolle Projekte für die Menschheit.


%section.services
  = partial :service, locals: { icon: 'web-apps-icon',
    title: 'Web-Applikationen',
    description: 'Mit Ihrer Web-Applikation erreichen Sie Milliarden Menschen auf der ganzen Welt. Ihre User verwenden automatisch immer die neueste Version Ihrer Software im Web-Browser. ' }

  = partial :service, locals: { icon: 'mobile-apps-icon',
    title: 'Mobile Apps',
    description: 'Smartphones und Tablets sind mittlerweile allgegenwärtig. Mit einer mobilen App ist Ihre Software auch unterwegs verwendbar und kann in allen Situationen zum Einsatz kommen.' }

  = partial :service, locals: { icon: 'data-viz-icon',
    title: 'Daten-Visualisierung',
    description: 'Visualisierungen machen komplexe Daten und Fakten verständlich. Durch interaktive Benutzeroberflächen vermitteln Sie Information auf spannende und spielerische Weise.' }

%section.news
  .announcement
    %a(href="http://foodhack.wirsing.io/")
      %img(src="images/announcements/foodhack.png")
    .text
      %h3 Wirsing veranstaltete den Foodhack Vienna am 28. und 29. März
      %p Foodhack war ein zweitägiger Wettbewerb, bei dem Software-Entwickler, Grafiker, Lebensmittel- und Abfallexperten zusammenkamen, um Österreichs Lebensmittelabfall zu vermindern. Er fand am 28. und 29. März 2015 statt.
      %p
        Mehr Infos auf&nbsp;
        %a(href="http://foodhack.wirsing.io/")> foodhack.wirsing.io
        \.

%section.vision
  %h2
    Wir sind ein innovatives Team aus weltklasse Software Entwicklern,
    %br
    User Experience und Screen Design Experten. 

%section.about
  = partial :team_member, locals: { id: 'aaron',
    name: 'Aaron Cruz',
    job: 'Mobile &amp; Web Development',
    description: 'Aaron baut chatbots, native iOS- und Android-Apps und die APIs dafür. Nebenbei organisiert er ein paar Meetup-Gruppen in Wien. Wenn man anfängt, mit ihm über Essen zu reden, könnte es sein, dass er nie wieder aufhört.' }
  = partial :team_member, locals: { id: 'helene',
    name: 'Helene Pattermann',
    job: 'Projekt Management & Marketing',
    description: 'Für Helene sind Projekt Management und Marketing keine getrennten Konzepte, sondern zwei spannende Möglichkeiten, die Welt kreativ zu gestalten. Ihre Spezialität sind dabei SEO und Food Waste Prevention.' }

%section.references
  %h2 Referenzen
  %p.references-description
    Wirsing steckt noch in den Kinderschuhen.
    %br
    In der Vergangenheit haben die Gründer aber schon einige erfolgreiche Projekte verwirklicht:

  .references-project.cell
    %a(href="http://reducefoodwaste.eu")
      %img(src="images/references/reducefoodwaste.png")
    %h3 STREFOWA
    %p
      Wir unterstützten
      %a(href="http://reducefoodwaste.eu/") STREFOWA
      /.


%section.contact
  Schreiben Sie uns! Wir freuen uns über Post an #{mail_to 'hallo@wirsing.io'}.

%footer
  .imprint
    %h3.imprint-title Verantwortlich für den Inhalt:

    %p.imprint-responsible.cell
      %span.imprint-name
        %a(href="http://squarebracket.io") Square Bracket eU
      %br
      Weidlingbachgasse 14
      %br
      3400 Weidling
